.create-form{
    background: white;
    padding: 24px;
    border-radius: 12px;
    margin: 30px auto;
    width: 400px;
    box-shadow: 0 4px 12px rbga(0,0,0,0.08);
}

input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}